.parent-container-insight {
    position: relative;
    overflow: hidden; /* Ensure content does not spill outside the container */
    padding-top: 20px;
}

.insight-main-container{
  margin-top: 5%;
}

.insight-main-container .heading1{
  font-weight: 600;
}

.one-insight {
  position: absolute;
  top: 0;
  left: 7%;
  width: 47%;
  z-index: 2;
  /* border-left: 10px solid #E1056D; */
}

.one-insight img {
    /* width: 100%; */
    /* height: 60%; */
    object-fit: cover; /* Ensure the image covers the container */
}

.two-insight {
  position: relative;
  background: #4256A6;
  margin-left: 45%; /* Align form to right of image */
  z-index: 1;
  margin-top: 8%;
  padding: 40px 44px 44px 10%;
  box-sizing: border-box; /* Include padding in the width */
  box-shadow: 10px 7px 15px rgba(0, 0, 0, 0.2); /* Shadow on the right side */
}


.two-insight .date{
    position: absolute;
    top: 0px;
    left: 20%;
    background-color: #e1056d;
    padding: 10px 10px;
   border-radius: 0;
}



 .see-all-insight {
     border-color: #e1056d;
    color: #e1056d;
    border-width: 1px ;
    width: 200px;
    /* margin-left: 40%; */
     margin-top: 5%; 
    padding: 12px;
    border-radius: 30px;
   
}

/* Dotss */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.your-class .slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.your-class .slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 13px;
    padding: 0;

    cursor: pointer;
}
.your-class .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.your-class .slick-dots li button:hover:before,
.your-class.slick-dots li button:focus:before
{
    opacity: 1;
}
.your-class .slick-dots li button:before
{
    font-family: 'slick';
    font-size: 100px;
    line-height: 20px;
  

    position: absolute;
    top: 28px;
    left: 0;

    width: 20px;
    height: 20px;

    content: '-';
    text-align: center;

    opacity: .25;
    color: #4256A6 !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.your-class  .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #818181;
}



#get-in-touch-form{
  margin-top:5em;
}
@media (min-width: 768px) {
  .two-insight {
    /* width: 60%; */
    /*height: 60%;  Match the height of the image */
    background: #4256A6;
    margin-left: 47%; /* Align form to right of image */
    margin-top: 8%;
    padding: 40px 44px 44px 10%;
    box-sizing: border-box; /* Include padding in the width */
    
}

}
@media (max-width: 767px) {
    .one-insight, .two-insight {
        position: static;
        width: 100%;
        height: auto;
        margin-left: 0; 
    }

    .two-insight {
      padding: 26px 26px 0px 22px;
  }

    .see-all-insight{
        width: 90%;
        margin-left: 5%;
    }
    .heading24{
      font-size: 20px;
    }
}


@media only screen and (max-width: 320px) {
    .industry-insights {
      padding: 20px 15px;
    }
  
    .industry-insights h2 {
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .industry-insights p.secondary1 {
      font-size: 14px;
      margin-bottom: 20px;
    }
  
    .parent-container-insight .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .parent-container-insight .col-md-6.one-insight img {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .parent-container-insight .col-md-6.two-insight {
      padding: 0 10px;
    }
  
    .parent-container-insight .col-md-6.two-insight .heading24 {
      font-size: 16px;
      margin-top: 10px;
    }
  
    .parent-container-insight .col-md-6.two-insight p {
      font-size: 14px;
      /* padding: 0 5px; */
    }
  
    .see-all-insight {
      width:121px;
      font-size: 12px;
      margin-top: 10px;
      padding: 8px;
    }
  
    .date {
      font-size: 12px;
    }
  }
  /* @media (min-width: 1280px) and (max-width: 1440px) {
    .parent-container-insight {
        max-width: 1028px;
        margin: 0 auto;
    }

    .one-insight img {
        height: 60%;
    }
} */




